html, 
body {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 150%;
}

img {
    max-width: 100%;
}

header {
    padding-top: 25px;    
    margin-bottom: 0px;
    text-align: center;
}

.intro {
    margin-top: 15px;
}

input, button {
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 5px;
    margin-top: 15px;
    background-color: #990310;
    color: white;
    border-radius: 5px;
    border: 0px solid #86030E;
    cursor: pointer;
}

button:hover {
    background-color: #73030C;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Metrophobic', sans-serif;
    text-align: center;
    line-height: 150%;
}

.empty {
    display: none;
}

/* Start */

header img {
    max-height: 125px;
}

/* Questions */

h2, legend {
    font-size: 24px;
}

legend {
    font-weight: bold;
}

fieldset {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

.question label {
    display: block;
    padding: 10px 5px;
    background: #C1C1C1;
    margin: 15px auto 0px;
    border-radius: 10px;
    cursor: pointer;
}

.question input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    margin: auto 3%;
    border: 8px solid #ffffff;
    cursor: pointer;
}

.question input[type='radio']:checked {
    appearance: none;
    border: 8px solid #454545;
}

.question label:hover {
    background-color: #D6B213;
}


/* Status Bar */

.quizStatus {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.score {
    background: #000000;
    color: white;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.score span {
    display: block;
}

/* Results Section */

.result {
    text-align: center;
}

.result h2 {
    margin-top: 0px;
    font-size: 27px;
    margin-bottom: 5px;
}

.result img {
    max-height: 200px;
}

.correctAnswer {
    text-align: center;
}

.correctAnswer p {
    margin-bottom: 0px;
    font-size: 18px;
}

.correctAnswer strong {
    color: #2fc6e3;
}


/* Final Results Section */

.finalResult p {
    font-size: 27px;
    margin: 0px;
}

.finalResult p strong {
    color: #D10415;
}

.finalResultMsg {
    font-size: 20px;
}


/* Non-Mobile Web Adjustments */

@media only screen and (min-width: 640px) {
    .question legend {
        font-size: 27px;
    }

    .question label {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .result img {
        max-height: 250px;
    }

    .empty {
        display: initial;
    }

    .quizStatus {
        margin-top: 20px;
    }

    .score span {
        display: inline-block;
        padding: 8px 0px; 
        width: 49%;
    }
}

@media only screen and (min-width: 750px) {
    .intro {
        margin-top: 30px;
    }

    header img {
        max-height: 150px;
    }

    .correctAnswer p {
        font-size: 20px;
        margin-top: 10px;
    }

    .result h2 {
        font-size: 32px;
    }
}